# executables
*.exe
iron-exalt
generator/akevitt-gen
# database files
*.db
*.db.lock

# some useful binaries
!boltbrowser.win64.exe

# Un-ignore sample directory
!iron-exalt/

# sensitive stuff
*.pem
*.key
*.csr
id_rsa*
